@* content Template File *@
@(currentLocations : List[org.mahvine.bustracking.models.CurrentLocation])
<div class="container padded">
				<div class="row">
				<!-- Breadcrumb line -->
					<div id="breadcrumbs">
						<div class="breadcrumb-button blue">
							<span class="breadcrumb-label"><i class="glyphicon glyphicon-home"></i> Home</span>
							<span class="breadcrumb-arrow"><span></span></span>
						</div>
						<div class="breadcrumb-button">
							<span class="breadcrumb-label">
								<i class="glyphicon glyphicon-stats"></i> Bus Locations
							</span>
							<span class="breadcrumb-arrow"><span></span></span>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
    			<!-- find me in partials/stats_table -->
						<div class="box">
							<div class="box-header">
								<span class="title">Bus stats</span>
								<ul class="box-toolbar">
									<li><span class="label label-green">189</span></li>
								</ul>
							</div>
							<div class="box-content">
								<table id="bus-stats" class="table table-normal">
									<thead>
										<tr>
											<td>Device ID</td>
											<td>Location</td>
											<td>Latitude</td>
											<td>Longitude</td>
											<td>Speed</td>
											<td>Distance travelled</td>
											<td>Last Update</td>
										</tr>
									</thead>
									<tbody id="tbody-stats">
									@for(currentLocation <- currentLocations){
										<tr id="@currentLocation.dId">
											<td style="text-align: center; width: 100px;">@currentLocation.dId</td>
											<td class="status-error location">Location here </td>
											<td style="width: 160px;" class="latitude">@currentLocation.lat</td>
											<td style="width: 160px;" class="longitude">@currentLocation.lon</td>
											<td style="width: 100px;" class="speed status-success"> @currentLocation.kph mps</td>
											<td style="width: 100px;" class="dist status-success"> @currentLocation.distMeters m</td>
											<td style="width: 200px;" class="date"> @currentLocation.readabledate</td>
										</tr>
									}
										<!-- tr>
											<td style="text-align: center;"> Comments</td>
											<td class="status-success"><i class="glyphicon glyphicon-circle-arrow-up"></i> +10%</td>
											<td style="width: 160px;"><div class="sparkline" data-color="green"><!--5,6,8,14,18,10,12,16,15,16,12,15</div></td>
											<td style="width: 100px;" class="status-success"> 40 kph</td>
											<td style="width: 100px;" class="status-success"><i class="glyphicon glyphicon-circle-arrow-up"></i> +10 kph</td>
											<td style="width: 100px;" class="status-success"><i class="glyphicon glyphicon-circle-arrow-up"></i> +10 kph</td>
											<td style="width: 200px;"> 2014-02-16 11:44am </td>
										</tr-->
										
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
<script>
            //currentLocation|53006b92515f7ba8262a8c8c|1863|121.001771|14.537538|2014-02-16 17:15:26.465|13

	function currentLocationEventReceived(currentLocation){
		var tableEntry = $("#"+currentLocation.dId);
	
		if(tableEntry.length == 1){
			console.log("entry found");	
			console.log(tableEntry);
			console.log(currentLocation);
			tableEntry.children(".date").html(currentLocation.date);
			tableEntry.children(".longitude").html(currentLocation.longitude);
			tableEntry.children(".latitude").html(currentLocation.latitude);
			tableEntry.children(".speed").text(currentLocation.speed+" mps");
			tableEntry.children(".dist").html(currentLocation.dist+" m");
			var lat = parseFloat(currentLocation.latitude);
		    var lng = parseFloat(currentLocation.longitude);
			var latlng = new google.maps.LatLng(lat, lng);
		    geocoder.geocode({'latLng': latlng}, function(results, status) {
		      if (status == google.maps.GeocoderStatus.OK) {
		        if (results[1]) {
					tableEntry.children(".location").html(results[1].formatted_address);
		        }
		      } else {
		        alert("Geocoder failed due to: " + status);
		      }
		    });
			


			
		}else{
			console.log("entry not found");

			var html = '<tr id="'+currentLocation.dId+'">'+
			'<td style="text-align: center; width: 100px;">'+currentLocation.dId+'</td>'+
			'<td class="status-error location">Location here </td>'+
			'<td style="width: 160px;" class="latitude">new entry</td>'+
			'<td style="width: 160px;" class="longitude">new entry</td>'+
			'<td style="width: 100px;" class="speed status-success"> new entry</td>'+
			'<td style="width: 100px;" class="dist status-success">new entry</td>'+
			'<td style="width: 200px;" class="date">new entry</td></tr>';
			$("#tbody-stats").append(html);
			currentLocationEventReceived(currentLocation);
		}
		
	}
</script>
