@* mapview Template File *@
@()
<div class="container padded">
	<div class="row">
	<!-- Breadcrumb line -->
		<div id="breadcrumbs">
			<div class="breadcrumb-button blue">
				<span class="breadcrumb-label"><i class="glyphicon glyphicon-home"></i> Home</span>
				<span class="breadcrumb-arrow"><span></span></span>
			</div>
			<div class="breadcrumb-button">
				<span class="breadcrumb-label">
					<i class="glyphicon glyphicon-stats"></i> Map View
				</span>
				<span class="breadcrumb-arrow"><span></span></span>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			 <div id="world-map-canvas" class="breadcrumb">&nbsp;</div>
 		</div>
	</div>
</div>
<script>
var map;
function initializeMap() {
    var mapOptions = {
        center: new google.maps.LatLng(14.550022502704843, 121.0257339477539 ),
        zoom: 14,
        scrollwheel: false,
        panControl: true,
        zoomControl: true,
        mapTypeControl: false,
        scaleControl: false,
        streetViewControl: false,
        overviewMapControl: false

    };
    map = new google.maps.Map(document.getElementById("world-map-canvas"),
            mapOptions);
    google.maps.event.addListener(map, 'click', function(event) {
		console.log("you clicked : "+event.latLng.lat()+"    "+event.latLng.lng());
		
	});

    loadmarkers();
}

function loadmarkers() {
	var pos = new google.maps.LatLng(14.537538, 121.001771);
	marker = new google.maps.Marker({
		position: pos,
		title: "pogi location"
    });
	for (key in busData) {
	    // "Good enough" for most cases
	    var x =busData[key];
	    console.log(x);
	    x.setMap(map);
	}
}
$(document).ready(function() {
    initializeMap();
    console.log(busData);
});

</script>


				

