@* sidebar Template File *@
@(param: Any)
<!-- Main nav -->
<ul class="nav navbar-collapse collapse navbar-collapse-primary">
 	
 	<li id="listview-menu" class="dark-nav active"  onclick="loadListView()">
		<span class="glow"></span>
        <a href="#listview">
        	<i class="glyphicon glyphicon-stats"></i>
        	<span>Bus Locations</span>
        </a>
	</li>
	<li id="mapview-menu" class="dark-nav" onclick="loadMapView()">
		<span class="glow"></span>
		<a href="#mapview">
         			<i class="glyphicon glyphicon-map-marker"></i>
			<span>Map View</span>
		</a>
	</li>
</ul>
<div class="hidden-sm hidden-xs">
	<div class="sparkline-box side">
		<hr class="divider">
   				<div class="sparkline-row">
			<h4 class="dark-green"><span>Online</span> 1</h4>
			<div class="sparkline big" data-color="darkGreen"><!--1,0,0,0,0,0,0,0--></div>
		</div>
   				<hr class="divider">
	</div>
</div>

<script>

	function loadListView(){
		listView = true;	
		$("#mapview-menu").removeClass("active");
		$("#listview-menu").addClass("active");
		$("#main-content").load("/showListView");
	}

	function loadMapView(){
		listView = false;	
		$("#listview-menu").removeClass("active");
		$("#mapview-menu").addClass("active");
		$("#main-content").load("/showMapView");

	}
</script>

