@font-face {
  font-family: 'open sans';
  font-style: normal;
  font-weight: 400;
  src: local('open sans'), local('opensans'), url(../fonts/open_sans.woff) format('woff');
}
@font-face {
  font-family: 'open sans';
  font-style: normal;
  font-weight: 600;
  src: local('open sans semibold'), local('opensans-semibold'), url(../fonts/open_sans_semibold.woff) format('woff');
}
@font-face {
  font-family: 'open sans';
  font-style: normal;
  font-weight: 800;
  src: local('open sans extrabold'), local('opensans-extrabold'), url(../fonts/open_sans_extrabold.woff) format('woff');
}
